$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 568px) {
    .container {
        max-width: 530px;
    }
 }
